{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}


{% block body %}

    <!--Section: Contact v.2-->
    <div class="card mt-5 mr-3 ml-3 shadow"><section class="mb-4 mr-5 ml-5">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4">Contactez nous</h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5">Vous avez la moindre question ? Ou vous voulez boire un petit verre de cidre avec notre équipe? Vous voulez rencontrer nos supers Esprits devant un barbecue? Contactez nous</p>

        <div class="row">

            <!--Grid column-->
            <div class="col-md-9 mb-md-0 mb-5">

                {{ form_start(form)}}
                {{ form_row(form.subject, {
                    label: 'Sujet de votre Message',
                    row_attr: {
                        class:'mb-3'
                    },
                    label_attr:{
                        class: 'form-control',
                    },
                }) }}
                {{ form_row(form.email, {
                    label: 'Votre adresse email',
                    row_attr: {
                        class:'mb-3'
                    },
                    label_attr:{
                        class: 'form-control',
                    },
                }) }}
                {{ form_row(form.advertContacted, {
                    label: 'Votre message concerne t-il une adoption',
                    row_attr: {
                        class:'mb-3'
                    },
                    label_attr:{
                        class: 'form-control',
                    },
                }) }}
                {{ form_row(form.message, {
                    label: 'Votre message ',
                    row_attr: {
                        class:'mb-3'
                    },
                    label_attr:{
                        class: 'form-control',
                    },
                }) }}
                <button type="submit" class="btn btn-primary">Envoyer</button>
                {{ form_end(form) }}






                <div class="text-center text-md-left">

                </div>
                <div class="status"></div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>Chemin du fond de l'étang</p>
                    </li>

                    <li><i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>+ 01 234 567 89</p>
                    </li>

                    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p>contact@monesprit.com</p>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

        </div>

    </section>
    </div>


{% endblock %}
