{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}


{% block body %}

    <h1>Adoptez un esprit :</h1>

    <div class="card shadow mt-5 ml-3 mr-3">
        <div class="card-group">

            {% for advert in adverts %}
                {% include 'annonce/_showAdoption.html.twig' with {
                    advert: advert
                } only  %}
            {% endfor %}

        </div>

    </div>


{% endblock %}
