
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Adopte un Esprit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('index') }}">Home</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('condition') }}">Condition d'adoption</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('adoption_all') }}">Adoption</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
            </ul>
        </div>
    </nav>




