{% if advert.dogs %}
    {% for dog in advert.dogs %}
        <div class="card col-sm-6">

            {% for picture in dog.dogPicture %}
                {% if picture is defined and picture.linkPicture %}
                    <img class="card-img-top embed-responsive-item mt-3" src="{{ picture.linkPicture}}" alt="Card image cap">

                {% endif %}

            {% endfor %}
            <div class="card-body"><h5 class="card-title">Adoptez : {{ dog.name }}</h5>
                {% for breed in dog.dogBreed %}
                    <p><strong>Sa race : </strong>{{ breed.name}}</p>
                {% endfor %}
                <p><strong>Sa description : </strong>{{ dog.description}}</p>
                {% if dog.isAdopted %}
                    <strong>L'esprit a trouvé une famille</strong>
                {% endif %}
                <h5 class="card-title">{{ advert.title }}</h5>
                <strong>Description: </strong>
                <p class="card-text">{{ advert.description}}</p>

            </div>
            <div class="card-footer">
                <a class="nav-link" href="{{ path('adoption_detail', {id: advert.id}) }}">Plus de détails</a>
                <p class="text-muted"> {{ advert.created|date('d/m/Y') }}</p>

            </div>
        </div>

    {% endfor %}
{% endif %}
