{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceController!{% endblock %}

{% block body %}
<div class="card shadow mt-5 ml-3 mr-3">
    <div class="card-group">

        {% for advert in adverts %}
            {% include 'annonce/_showAdoption.html.twig' %}
        {% endfor %}

    </div>

</div>
{% endblock %}
