{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceController!{% endblock %}

{% block body %}
<div class="card shadow mt-5 ml-3 mr-3">
    <div class="card-group">


        {% if advert.dogs %}
        {% for dog in advert.dogs %}
            <div class="card col-sm-6">

            {% for picture in dog.dogPicture %}
                {% if picture is defined and picture.linkPicture %}
            <img class="card-img-top embed-responsive-item mt-3" src="{{ picture.linkPicture}}" alt="Card image cap">

                {% endif %}

            {% endfor %}
            <div class="card-body"><h5 class="card-title">Adoptez : {{ dog.name }}</h5>
                {% for breed in dog.dogBreed %}
                <p><strong>Sa race : </strong>{{ breed.name}}</p>
                    {% endfor %}
                <p><strong>Sa description : </strong>{{ dog.description}}</p>
                <h5 class="card-title">{{ advert.title }}</h5>
                <strong>Description: </strong>
                <p class="card-text">{{ advert.description}}</p>

            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>

    {% endfor %}
    {% endif %}
       

    </div>

</div>
{% endblock %}
