{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
Mon dashboard
{% endblock %}



{% block page_content %}

<a href="{{ linkToDogsAdmin }}"> Les Esprits</a>
    <br>
    <a href="{{ linkToContactAdmin }}"> Les Contacts</a>


{% endblock %}
