<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" >
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/bootstrap.bundle.min.js') }}"> </script>
        {% endblock %}
    </head>
    <body>
    {% include ('structure/header.html.twig') %}
        {% block body %}


        {% endblock %}
    </body>
</html>
